.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  color: blue;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}